In [1]:
import pandas as pd
import numpy as np
import json
import joblib
import time
import matplotlib.pyplot as plt

In [2]:
df_user = pd.read_json('yelp_academic_dataset_user.json', lines=True, nrows = 10)
df_user.columns

Index(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [3]:
df_user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [6]:
# The reading of data is timed for experiment. 
start_time = time.time()

# Create empty lists to store variables of original dataset
u_id = []
name =[]
review_count = []
yelp_since = []
useful = []
funny = []
cool = []
elite = []
fan = []
avg_star = []
c_hot =[]
c_more =[]
c_profile =[]
c_cute =[]
c_list =[]
c_note =[]
c_plain =[]
c_cool =[]
c_funny =[]
c_writer =[]
c_photos =[]

#r = 0 # togerther with the muted code below was used for experimenting data reading time
with open("yelp_academic_dataset_user.json", "r") as f:
    for line in f.readlines():
        review = json.loads(line) # current line of the original data that has been read
        u_id.append(review['user_id'])
        name.append(review['name'])
        review_count.append(review['review_count'])
        yelp_since.append(review['yelping_since'])
        useful.append(review['useful'])
        funny.append(review['funny'])
        cool.append(review['cool'])
        elite.append(review['elite'])
        fan.append(review['fans'])
        avg_star.append(review['average_stars'])
        c_hot.append(review['compliment_hot'])
        c_more.append(review['compliment_more'])
        c_profile.append(review['compliment_profile'])
        c_cute.append(review['compliment_cute'])
        c_list.append(review['compliment_list'])
        c_note.append(review['compliment_note'])
        c_plain.append(review['compliment_plain'])
        c_cool.append(review['compliment_cool'])
        c_funny.append(review['compliment_funny'])
        c_writer.append(review['compliment_writer'])
        c_photos.append(review['compliment_photos'])
        
      
        #r += 1
        #if r > 1000:
            #break

end_time = time.time()
end_time - start_time  # Reading the entire dataset except text variable took 23s.

11.932207822799683

In [10]:
# Create dataframe using the lists of variables
df_user = pd.DataFrame(list(zip(u_id, name, review_count, yelp_since, useful, funny, cool, elite, fan, avg_star,
                               c_hot, c_more, c_profile, c_cute, c_list, c_note, c_plain, c_cool, c_funny, c_writer,
                               c_photos)), 
                        columns = ['u_id', 'name', 'review_count', 'yelp_since', 'useful', 'funny', 'cool', 'elite', 'fan', 'avg_star',
                               'c_hot', 'c_more', 'c_profile', 'c_cute', 'c_list', 'c_note', 'c_plain', 'c_cool', 'c_funny', 'c_writer',
                               'c_photos'])
print(df_user.shape) # nrow = 1987897 , ncol = 21
df_user.head()

(1987897, 21)

,u_id,name,review_count,yelp_since,useful,funny,cool,elite,fan,avg_star,...,c_more,c_profile,c_cute,c_list,c_note,c_plain,c_cool,c_funny,c_writer,c_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,267,3.91,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...",3138,3.74,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013",52,3.32,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011",28,4.27,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,1,3.54,...,1,0,0,0,1,1,0,0,0,0

In [11]:
# Dump the dataframe as 'review_no_text.py' in the local working directory
joblib.dump(df_user, 'user_no_friend.py') # 433M compared to 3G, much smaller

['user_no_friend.py']